/node_modules
/public/hot
/storage/*.key
/storage/logs
/.phpunit.cache
# .env files
/.env/
/.env.*
.env.backup
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
/.fleet
/.idea
/.vscode
